SERVER_PORT=3000
# Path to your Firebase Service Account JSON
# Ensure this file is in your .gitignore!
SERVICE_ACCOUNT_FILE=../path/to/service-account.json
# Or leave empty to use Google Application Default Credentials (e.g. on Cloud Run)
